/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define SYM_LAY 1
#define NUM_LAY 2
#define OUT_LAY 3
#define NAV_LAY 4
#define BTH_LAY 5

// TODO try NAV $mt (&mo NAV_LAY) f
// TODO try BTH $mt (&mo BTH_LAY) j

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ,-----------------------------.   ,-----------------------------.
// |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             | OUT | SYM | SPC |   | ENT | NUM | OUT |
//             `-----------------'   `-----------------'
// Holding
// ,-----------------------------.   ,-----------------------------.
// |     |     |     |     |     |   |     |     |     |     |     |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |SHIFT| ALT | GUI |     |     |   |     |     | GUI | CTRL|SHIFT|
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |     |     |     |     |     |   |     |     |     |     |     |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             |     |     |     |   |     |     |     |
//             `-----------------'   `-----------------'
                        bindings = <
   &kp Q        &kp W      &kp E       &kp R       &kp T        &kp Y     &kp U       &kp I       &kp O       &kp P
   &mt LSHIFT A &mt LALT S &mt LGUI D  &kp F       &kp G        &kp H     &kp J       &mt RGUI K  &mt RCTRL L &mt RSHIFT SEMI
   &kp Z        &kp X      &kp C       &kp V       &kp B        &kp N     &kp M       &kp COMMA   &kp DOT     &kp FSLH
                           &mo OUT_LAY &mo SYM_LAY &kp SPACE    &kp ENTER &mo NUM_LAY &mo OUT_LAY
                        >;
                };

                sym_layer {
// ,-----------------------------.   ,-----------------------------.
// |  ~  |     |     |     |     |   |     |  _  |  +  |  {  |  }  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |     |     |     |     |     |   |     | NEXT| VOL-| VOL+| PLAY|
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             |     |     |     |   |     |     |     |
//             `-----------------'   `-----------------'
                        bindings = <
   &kp TILDE &trans &trans   &trans   &trans       &trans    &kp UNDER  &kp KP_PLUS     &kp LBRC     &kp RBRC
   &kp EXCL  &kp AT &kp HASH &kp DLLR &kp PRCNT    &kp CARET &kp AMPS   &kp KP_MULTIPLY &kp LPAR     &kp RPAR
   &trans    &trans &trans   &trans   &trans       &trans    &kp C_NEXT &kp C_VOL_DN    &kp C_VOL_UP &kp C_PLAY_PAUSE
                    &trans   &trans   &trans       &trans    &trans     &trans
                        >;
                };

                num_layer {
// ,-----------------------------.   ,-----------------------------.
// |  `  |     |     |     |     |   |     |  -  |  =  |  [  |  ]  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |     |     |     |     |     |   |     |     |BRIG-|BRIG+|SLEEP|
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             |     |     |     |   |     |     |     |
//             `-----------------'   `-----------------'
                        bindings = <
   &kp GRAVE &trans &trans &trans &trans    &trans &kp KP_MINUS &kp KP_EQUAL  &kp LBKT      &kp RBKT
   &kp N1    &kp N2 &kp N3 &kp N4 &kp N5    &kp N6 &kp N7       &kp N8        &kp N9        &kp N0
   &trans    &trans &trans &trans &trans    &trans &trans       &kp C_BRI_DEC &kp C_BRI_INC &kp C_SLEEP
                    &trans &trans &trans    &trans &trans       &trans
                        >;
                };

                out_layer {
// ,-----------------------------.   ,-----------------------------.
// | ESC |     |     |     |RESET|   |RESET|     |  UP |     | BSPC|
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// | TAB |     |     |     |BOOTL|   |BOOTL| LEFT| DOWN|RIGHT|  '  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// | CAPS|     |     |     |PWR -|   |PWR -|BT PR|BT NX|BT CL|  \  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             |     |     |PWR +|   |PWR +|     |     |
//             `-----------------'   `-----------------'
                        bindings = <
   &kp ESC  &trans &trans &trans &reset               &reset            &trans     &kp UP     &trans    &kp BSPC
   &kp TAB  &trans &trans &trans &bootloader          &bootloader       &kp LEFT   &kp DOWN   &kp RIGHT &kp APOS
   &kp CAPS &trans &trans &trans &ext_power EP_OFF    &ext_power EP_OFF &bt BT_PRV &bt BT_NXT &bt BT_CLR    &kp BSLH
                   &trans &trans &ext_power EP_ON     &ext_power EP_ON  &trans     &trans
                        >;
                };

                nav_layer {
// ,-----------------------------.   ,-----------------------------.
// |     |     |     |     |     |   |     |     |  UP |     | BSPC|
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |     |     |     |     |     |   |     | LEFT| DOWN|RIGHT|  '  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// |     |     |     |     |     |   |     |     |     |     |  \  |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             |     |     |     |   |     |     |     |
//             `-----------------'   `-----------------'
                        bindings = <
   &trans &trans &trans &trans &trans    &trans &trans   &kp UP   &trans    &kp BSPC
   &trans &trans &trans &trans &trans    &trans &kp LEFT &kp DOWN &kp RIGHT &kp APOS
   &trans &trans &trans &trans &trans    &trans &trans   &trans   &trans    &kp BSLH
                 &trans &trans &trans    &trans &trans   &trans
                        >;
                };

                bth_layer {
// ,-----------------------------.   ,-----------------------------.
// | ESC |     |     |     |     |   |     |     |     |     |     |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// | TAB |     |     |     |     |   |     |     |     |     |     |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// | CAPS|     |     |     |     |   |     |     |     |     |     |
// |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
//             |     |     |     |   |     |     |     |
//             `-----------------'   `-----------------'
                        bindings = <
   &kp ESC  &trans &trans &trans &trans    &trans &trans &trans &trans &trans
   &kp TAB  &trans &trans &trans &trans    &trans &trans &trans &trans &trans
   &kp CAPS &trans &trans &trans &trans    &trans &trans &trans &trans &trans
                   &trans &trans &trans    &trans &trans &trans
                        >;
                };

//                 template_layer {
// // ,-----------------------------.   ,-----------------------------.
// // |     |     |     |     |     |   |     |     |     |     |     |
// // |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// // |     |     |     |     |     |   |     |     |     |     |     |
// // |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----|
// // |     |     |     |     |     |   |     |     |     |     |     |
// // |-----+-----+-----+-----+-----|   |-----+-----+-----+-----+-----'
// //             |     |     |     |   |     |     |     |
// //             `-----------------'   `-----------------'
//                         bindings = <
//    &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
//    &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
//    &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
//                  &trans &trans &trans    &trans &trans &trans
//                         >;
//                 };
        };
};
